@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";


* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

@theme {
  --color-expense: #7e69ab;
  --color-expense-light: #9b87f5;
  --color-expense-dark: #6959a5;
}